
  body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 1.1rem;
      background: linear-gradient(135deg, #000000, #0f0c29, #211d4f, #000000);      
      color: #ffffff;
      min-height: 100vh;

  }