/* Root Selector for Top Level Styles */
:root {
  --dark-gray: #0f131a;
  --light-gray: #797979;
  --bg-gradient-end: #1a1a2e;
  --bg-gradient-start: #0b0b18;
}
  body {
      margin: 0;
      padding: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
      font-size: 1.5rem;
      background: linear-gradient(135deg, #000000, #0f0c29, #211d4f, #000000);      
      color: #ffffff;
      min-height: 100vh;

  }