/* contactcard.css */

.contact-card {
    position: relative;
    background-color: rgba(20, 20, 20, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #d0d2d2, #140674);
    box-shadow: 0 10px 10px rgba(0, 255, 255, 0.2);
    transition: box-shadow 2s ease;
    margin-top: 2rem;
}