.home-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 3rem;
    margin-top: 2rem;
    max-width: 1800px;
    margin: 0 auto;
}

li {
    margin-top: 5px;
}