/* homecard.css */

.home-card {
    position: relative;
    background-color: rgba(20, 20, 20, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #00f5ff, #1e03ca);
    box-shadow: 0 10px 10px rgba(0, 255, 255, 0.2);
    transition: box-shadow 2s ease;

    margin-top: 2rem;
}

.home-card:hover {
    box-shadow: 0 15px 30px rgba(0, 255, 255, 0.5);
}

.home-card-image {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin-bottom: .5rem;
    display: block;
    border-radius: 100px;
}

.home-card-image img {
  width: 100%;          /* Stretch to fit container width */
  height: auto;         /* Maintain aspect ratio */
  display: block;       /* Removes inline spacing */
  object-fit: cover;    /* Optional: crop image nicely if height is fixed */
}



.home-card-link {
    color: rgb(66, 220, 220);
    text-decoration: none;
    border-top: none;
    transition: scale .5s ease;
    margin-top: auto;
    font-style: italic;
}

.home-card-link:hover {
    scale: 1.1;
}