.resume-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.resume-card-link,
.resume-card-link:visited {
    color: rgb(66, 220, 220);
    text-decoration: none;
    border-top: none;
    transition: scale .5s ease;
    margin-top: auto;
    font-style: italic;
}

.resume-card-link:hover {
    scale: 1.1;
}